# .dockerignore
bankenv/
__pycache__/
*.pyc
.git

# Re-include ONLY the necessary files and their immediate parent directories
!models/
!models/best_tf_model.keras
!data/processed/
!data/processed/prep.joblib