bankenv/
__pycache__/
*.pyc

data/raw/

models/**                # ignore everything
!models/                 # re-allow dir
!models/best_tf_model.keras

data/processed/**        # processed data allowed
!data/processed/prep.joblib

.git
